* {
    /*border: 3px ridge rgba(0, 0, 0, 1);*/
}

body {
    font-size: 200%;
    background-image: url(https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/14102293_954547158004102_2562152360559837574_n.jpg?oh=aaf11f5fb12ee2514b5775a41be760f1&oe=594987F6);
}

.heading {
    color: #924;
    font-size: 115%;
    text-align: center;
}

#titulo {
    font-family: Pacifico;
}

#eslogan {
    border: 7px double rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    background-color: #924;
    color: #ddd;
}

.redes {
    border-radius: 100%;
}

.publicaciones {
    border: 2px dotted black;
}

.publicacion {
    background-color: #924;
    border: 4px solid black;
    width: 48%;
    display: inline-block;
    margin: 5px;
    height: 1250px;
    overflow: auto;
}

.titulo_publicacion {
    text-align: center;
    border-bottom: 4px solid black;
    margin-top: 0;
}

.imagen_publicacion {
    width: 100%;
    /*border: 2px dotted black;*/
}

.descripcion_publicacion {
    border: 10px ridge gray;
}

.telefono {
    background-color: #924;
}

li {
    text-align: center;
    /*border: 2px dotted black;*/
}

.contacto {
    display: inline-block;
}

.Comprar {
    border: 10px double black;
    border-radius: 10px;
    color: black;
    margin: 33%;
}

.chica {
    height: 870px;
}


/*.izquierda {
    position: relative;
    bottom: 400px;
}*/

.precio {
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    position: relative;
    left: 70%;
    width: 100px;
}

.duda {
    background-color: blue;
}

#Portofino_malbec_Portofino_chardonnay {
    height: 1450px;
}

#Cabernet_Franc_Carmelo_Patti {
    height: 1050px;
}

#Urraca_Cabernet_Sauvignon,
#Cabernet_Franc_Carmelo_Patti,
#Dv_Catena_Malbec_Grenache {
    position: relative;
    bottom: 200px;
}

.nivelado {
    position: relative;
    bottom: 200px
}

.izquierda.nivelado {
    position: relative;
    bottom: 580px;
}

.oferta,
.Comprar.oferta {
    display: inline;
    margin: 10px;
    width: 50px;
    /*border: 3px dotted black;*/
}